In [3]:
def add(num1,num2):
    print(num1+num2)
add(6,2)

8

In [4]:
def name(fname,mname,lname):
    print("Hello",fname,mname,lname)
name("Akshara","Uday","Panikar")

Hello Akshara Uday Panikar

In [6]:
#DEFAULT FUNCTION

def name(fname,mname="Udayan",lname="Panikar"):
    print("Hello",fname,mname,lname)
name("Akshara")
name("ABC")

Hello Akshara Udayan Panikar
Hello ABC Udayan Panikar

In [10]:
#KEYWORD ARGUMENT

def name(fname,mname,lname):
    print("Hello",fname,mname,lname)
name(fname="Ava",lname="Volkov",mname="Alex")

Hello Ava Alex Volkov

In [11]:
#VARIABLE LENGTH ARGUMENTS (ARBITARY ARGUMENTS)

def name(*name):
    print("Hello",name[2],name[1],name[0])
name("Alonso","Astor","Stella")

Hello Stella Astor Alonso

In [12]:
#KEYWORD ARBITARY ARGUMENTS

def name(**name):
    print("Hello",name["fname"],name["mname"],name["lname"])

name(mname="Rhys",lname="Larson",fname="Bridget")

Hello Bridget Rhys Larson

In [144]:
import math
m1=int(input("Enter the first subject name"))
m2=int(input("Enter the second subject name"))
m3=int(input("Enter the Third subject marks"))
m4=int(input("Enter the fourth subject number"))
m5=int(input("Enter the fivth subject number"))

sum1=m1+m2+m3+m4+m5
def total(sum1):
    print("Total is:",sum1)
total(sum1)

avera=sum1/5
def average(avera):
    print("Average is",avera)
average(avera)

def grade():
    if avera<35:
        print("Fail")
    elif (avera<35) and (avera>60):
        print("Second class")
    elif (avera<60) and (avera>75):
        print("1st classs")
    else:
        print("Distinction")
grade()

def get_min():
    print("Mininum is",min(m1,m2,m3,m4,m5))
get_min()

def get_max():
    print("Maximum is",max(m1,m2,m3,m4,m5))
get_max()

Total is: 389
Average is 77.8
Distinction
Mininum is 56
78 56 78 98 79
Maximum is None

In [148]:


m1=int(input("Enter the first subject name"))
m2=int(input("Enter the second subject name"))
m3=int(input("Enter the Third subject marks"))
m4=int(input("Enter the fourth subject number"))
m5=int(input("Enter the fivth subject number"))

sum1=m1+m2+m3+m4+m5
def total(sum1):
    print("Total is:",sum1)
total(sum1)

avera=sum1/5
def average(avera):
    print("Average is",avera)
average(avera)

def grade():
    if avera<35:
        print("Fail")
    elif (avera<35) and (avera>60):
        print("Second class")
    elif (avera<60) and (avera>75):
        print("1st classs")
    else:
        print("Distinction")
grade()

def get_min():
    print("Mininum is",min(m1,m2,m3,m4,m5))
get_min()

def maximum1():
    print("Maximum is",max(m1,m2,m3,m4,m5))
maximum1()

Total is: 415
Average is 83.0
Distinction
Mininum is 67
89 67 89 80 90
Maximum is None